canvas {
	border:1px solid #d3d3d3;
    background-color: #f1f1f1;
    width: 50vw;
    height: 50vh;
    margin: auto;
}

#menu {
    background-color: #d3d3d3;
    text-align: center;
    width: 50vw;
    height: 50vh;
    margin: auto;
    font-size: 14px;
    padding: 5px;
    position: relative;
}

.menuHeadline {
    font-size: 20px;
    margin: 2px 0;
    text-decoration: underline;
}

.menuButtonSmall {
    width: 15vw;
    min-height: 7vh;
    margin: 1vh;
}

.menuButtonBig {
    width: 20vw;
    height: 20vh;
    margin: 1vw;
}

.sessionOptions {
    margin: 1vh;
}

.menuText {
    margin: 1vh;
}

#impressum {
    display: none;
}

#restartButton {
    display: none;
    z-index: 100;
}

#controlRightsButton {
    display: none;
}

.canvasButton {
    width: 20vw;
    height: 20vh;
    margin: auto;
    margin-top: -35vh;
    margin-left: 15vw;
    position: absolute;
}